.categoryBgDiv{
    min-height: 100vh;
    display: flex;
}
.bookBgDiv{
    display: inline-block;
    width: 71%;
    background-color: #fff;
}
.bookBgDivHeader{
    height: 60px;
    padding: 10px 30px;
}
.bookDivHeader{
    font-size: 1.5em;
    font-weight: 600;
    color: #054575;
}
.bookGrid{
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 30px;
}
.bookGrid > .bookCheckCard{
    flex-basis: calc(33.33333% - 20px) !important;
}