.resendAlertDiv{
    padding: 0px 100px;
}
.profileBgDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.profileLeftDiv{
    width: 60%;
    padding: 0px 100px;
}
.profileRightDiv{
    width: 40%;
    text-align: center;
}
.personalInfoDiv{
    margin-bottom: 30px;
}
.personalInfoDiv > text{
    display: block;
    margin-top: 30px;
}
.verifyEmailText{
    font-size: 0.9em;
}
.profileRightDiv > .createAccount{
    display: block;
    margin-top: 30px;
}
.logutBtn{
    margin-top: 30px;
}
.bookOrderDiv{
    margin-top: 30px;
    padding: 0px 100px;
}
.bookOrderHeader{
    font-weight: 600;
    color: #054575;
}
.bookOrderGrid{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@media screen and (max-width: 768px){
    .resendAlertDiv{
        padding: 0px 15px;
    }
    .profileBgDiv{
        flex-direction: column-reverse;
        margin-top: 30px;
    }
    .profileRightDiv{
        width: 100%;
    }
    .profileRightDiv > .createAccount{
        margin-top: 20px;
    }
    .logutBtn{
        margin-top: 20px;
    }
    .profileLeftDiv{
        width: 100%;
        padding: 0px 15px;
        margin-top: 30px;
        text-align: center;
    }
    .personalInfoDiv{
        margin-bottom: 20px;
    }
    .personalInfoDiv > text{
        margin-top: 20px;
    }
    .bookOrderDiv{
        margin-top: 20px;
        padding: 0px 15px;
        text-align: center;
    }
    .bookOrderGrid{
        margin-top: 20px;
    }
}