.storeHeader{
    text-align: center;
    font-weight: 600;
    color: #054575;
}
.topButtonDiv{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.bookCategoryButton{
    font-size: 1.1em !important;
    font-weight: 600 !important;
    padding: 10px 20px 10px 20px !important;
}
.storeGrid{
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.storeGrid > .storeCard{
    flex-basis: calc(33.33333% - 20px) !important;
}