.storeBookCard{
    padding: 15px;
    height: 380px;
    margin: 10px;
}
.storeBookCardDiv{
    height: 380px;
    position: relative;
}
.storeBookCoverBg{
    height: 165px;
    background-color: white;
    overflow: hidden;
    text-align: center;
}
.storeBookCover{
    max-width: 50%;
    max-height: 100%;
    object-fit: contain;
}
.storeBookDetailsBg{
    height: 185px;
    background-color: white;
    overflow: hidden;
    position: relative;
}
.storeBookTitle{
    text-align: left;
    font-size: 1.2em !important;
    font-weight: 600 !important;
    margin-top: 10px;
    margin-bottom: 10px !important;
}
.storeBookAuthor{
    text-align: left;
    font-size: 1em !important;
    font-weight: 400 !important;
    color: #82878b;
    margin-bottom: 10px !important;
}
.storeBookPrice{
    text-align: left;
    font-size: 1em !important;
    font-weight: 400 !important;
}

@media screen and (max-width: 768px){
    .storeBookCard{
        height: 50%;
        width: 50%;
        display: inline-block !important;
        overflow: hidden;
    }
    .storeBookCardDiv{
        height: 240px;
    }
    .storeBookCoverBg{
        height: 95px;
    }
    .storeBookDetailsBg{
        height: 100px;
    }
    .storeBookTitle{
        font-size: 0.7em !important;
        font-weight: 400 !important;
        margin-bottom: 0.2rem !important;
    }
    .storeBookAuthor{
        font-size: 0.6em !important;
        font-weight: 400 !important;
        margin-bottom: 0.5rem;
    }
    .storeBookPrice{
        font-size: 0.6em !important;
        font-weight: 400 !important;
        margin-bottom: 0.5rem;
    }
}